Solution.Library/ClassLibrary1/Connected Services/SOAPLibrary/ServiceLibrary7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLogic.Library.Mappers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Library.Mappers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BookWithAvailabilityVM">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstAvailabilityDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="PublishingHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookWithAvailabilityVM" nillable="true" type="tns:BookWithAvailabilityVM" />
</xs:schema>