Solution.Library/ClassLibrary1/Connected Services/SOAPLibrary/ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLogic.Library.VieModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Library.VieModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchBookViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorSurname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublishingHouse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchBookViewModel" nillable="true" type="tns:SearchBookViewModel" />
</xs:schema>