Solution.Library/ClassLibrary1/Connected Services/SOAPLibrary/ServiceLibrary3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLogic.Library.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLogic.Library.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginViewModel" nillable="true" type="tns:LoginViewModel" />
  <xs:complexType name="UserViewModel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UserViewModel" nillable="true" type="tns:UserViewModel" />
</xs:schema>